
/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}
/* global variables */
:root {

    /* --wireframe: 4px solid darkblue;
    --debugging: 3px dotted red;
    --component: 3px dotted green; */

    --sp-sm: 2%;
    --sp-md: 5%;
    --sp-lg: 10%;
    
    --clr-main:#003366;
    
    --clr-off: #FFF;
    --clr-sub:  #000;
    --clr-alt: grey;
    --clr-acc: green;
}

/* 
    table of contents

    1. app
    2. header
    3. container
    4. media

*/

/* 1 section : app */
.app {
    height: 100%;
    width: 100%;

}

/* 2 header : header */
.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);
    
    background: var(--clr-main);
    border: var(--wireframe);
    color: var(--clr-off);

    min-height: 15vh;
    padding: var(--sp-md);
    
}
.header .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: left;
}
.header .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;
}
.header .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 2;
}
.header h2 {
    padding-bottom: var(--sp-md);
}
header .btn_beer i {
    font-size: 2rem;
}
.header .btn_beer {
    width: 100%;
    max-width: 180px;
    margin: var(--sp-md);
    padding: var(--sp-md);

    font-size: 1.35rem;

    color: var(--clr-off);
    border: 3px solid var(--clr-off);
    border-radius: 10px;
    background: transparent;
}

/* 3 section : container */
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);
    
    padding: var(--spacing-md);
    
    height: 100%;
    min-height: 80vh;
    width: 100vw;
}
.container .elmnts {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: var(--debugging);
}
.container .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;
}
.container .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 2;
}
.container .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 2;
}
.container .elmnts:nth-child(4) {
    grid-column: span 6;
    grid-row: span 2;
}

.container img {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--sp-md);

    max-height: 400px;
    max-width: 380px;

    border: var(--debugging);

}

/* 4. footer : footer */
.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    min-height: 10vh;
    width: 100vw;

    background: var(--clr-main);
    color: var(--clr-off);
}
.footer .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
}
.footer .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
}
.footer .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 1;
}
.footer h5 {
    letter-spacing: 4px;
    padding-top: var(--sp-md);
}
.footer a {
    color: var(--clr-off);
    font-size: 1.5rem;
    padding: var(--sp-md);
}

/* 5 media : desktop */
@media screen and (min-width:960px) {
    /* 1 section : app */
    .app {
        height: 100vh;
        width: 100vw;
    }
    /* 2 header : header */
    .header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(50px, auto);

        min-height: 10vh;
        padding: var(--sp-sm);
    }
    .header .elmnts:nth-child(1) {
        grid-column: span 8;
        grid-row: span 2;
    }
    .header .elmnts:nth-child(2) {
        grid-column: span 4;
        grid-row: span 2;
    }
    /* 3 section : container */
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
    .container .elmnts:nth-child(1) {
        grid-column: span 6;
        grid-row: span 6;
    }
    .container .elmnts:nth-child(2) {
        grid-column: span 6;
        grid-row: span 3;
    }
    .container .elmnts:nth-child(3) {
        grid-column: span 6;
        grid-row: span 3;
    }
    .container .elmnts:nth-child(4) {
        grid-column: span 12;
        grid-row: span 3;
    }
    /* 4 footer : footer */
    .footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(50px, auto);

        min-height: 10vh;
        padding: var(--sp-sm);
    }
    .footer .elmnts:nth-child(1) {
        grid-column: span 4;
        grid-row: span 2;
    }
    .footer .elmnts:nth-child(2) {
        grid-column: span 4;
        grid-row: span 2;
    }
    .footer .elmnts:nth-child(3) {
        grid-column: span 4;
        grid-row: span 2;
    }
}